#petbee {
    cursor: default !important;
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 1004;
    transition: none;
}
#blank {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1003;
}
.topics {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.gallery {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.gallery img {
    width: 20vw;
    height: 10vw;
    border-radius: 12px;
}

#northern img {
    height: 15vw;
}

@media only screen and (max-width: 850px) {
    .gallery {
        flex-direction: column;
    }
    .gallery img {
        width: 80vw;
        height: 40vw;
        border-radius: 12px;
    }
    #northern img {
        height: 60vw;
    }
    #image-viewer img {
      width: 90%;
      height: auto;
    }
  }
    